.sc-list-btn {
	z-index: 1000;
	position: fixed;
	left: 0.7em;
	bottom: 0.7em;
	font-size: 1.7em;
	cursor: pointer;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.sc-list-btn-dark {
	color: #373737;
}

.sc-list-btn-light {
	color: #E7E7E7;
}

.sc-list-btn:hover {
	color: #A3A3A3;
}

.fa-close {
	color: #F5F5F5;
}

.sc-list-panel {
	z-index: 999;
	position: fixed;
	left: -20vw;
	top: 0;
	height: 100vh;
	width: 20vw;
	background: #383838;
	box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
	-o-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
	-ms-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;

	overflow-y: auto;

	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.sc-list-item {
	position: relative;
	left: 0;
	width: inherit;
	height: 3em;
	color: white;
	font-weight: 600;
	cursor: pointer;
	line-height: 3em;
	padding-left: 15%;

	transition: background 0.3s;
	-o-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.sc-list-item-checked {
	background: rgba(0, 0, 0, 0.3);
}

.sc-list-item:hover {
	background: rgba(0, 0, 0, 0.3);
}

.sc-global-shadow {
	z-index: 998;
	position: fixed;
	display: none;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.sc-list-show .sc-list-panel {
	transform: translateX(20vw);
	-o-transform: translateX(20vw);
	-moz-transform: translateX(20vw);
	-ms-transform: translateX(20vw);
	-webkit-transform: translateX(20vw);
}

.sc-list-show .sc-global-shadow {
	display: block;
	opacity: 1;
}

@media only screen and (max-width: 720px) {
	.sc-list-panel {
		left: -35vw;
		width: 35vw;
	}

	.sc-list-show .sc-list-panel {
		transform: translateX(35vw);
		-o-transform: translateX(35vw);
		-moz-transform: translateX(35vw);
		-ms-transform: translateX(35vw);
		-webkit-transform: translateX(35vw);
	}
}

@media only screen and (max-width: 420px) {
	.sc-list-panel {
		left: -80vw;
		width: 80vw;
	}

	.sc-list-show .sc-list-panel {
		transform: translateX(80vw);
		-o-transform: translateX(80vw);
		-moz-transform: translateX(80vw);
		-ms-transform: translateX(80vw);
		-webkit-transform: translateX(80vw);
	}
}