@font-face {
	font-family: 'Source Code Pro';
	src: url('/pub/fonts/source-code-pro/fonts/sourcecodepro-regular-webfont.eot');
	src: url('/pub/fonts/source-code-pro/fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/pub/fonts/source-code-pro/fonts/sourcecodepro-regular-webfont.woff') format('woff'),
			 url('/pub/fonts/source-code-pro/fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
			 url('/pub/fonts/source-code-pro/fonts/sourcecodepro-regular-webfont.svg#sourcecodepro') format('svg');
	font-weight: normal;
	font-style: normal;
}