@import url(/pub/fonts/raleway/css/raleway.css);
@import url(/pub/fonts/ubuntu/css/ubuntu.css);
@import url(/pub/fonts/source-code-pro/css/source-code-pro.css);
@import url(/pub/fonts/anony-font/css/fonts.css);

html, body {
	background: #E4E3E3;
	font-family: 'Ubuntu', Arial, sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', Arial, sans-serif;
}

.font-tekai {
	font-family: 'tekai';
}

.font-mini-jiankai {
	font-family: 'mini-jiankai';
}

.container {
	overflow: visible;
}
