.sc-about-layer {
	position: fixed;
	top: 5em;
	left: 0;
	height: 100%;
	width: 100%;
	line-height: 100vh;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-webkit-transition: opacity 0.6s;
}

.sc-about-box {
	position: fixed;
	display: inline-block;
	
	width: 60%;

	left: 20%;
	top: -70%;

	padding: 7em 0 2em;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	line-height: normal;

	max-height: 70vh;
	overflow: hidden;

	color: #E7E7E7;
	background: #AB3226;

	/* box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4) inset; */

	transition: top 0.6s ease-in;
	-o-transition: top 0.6s ease-in;
	-moz-transition: top 0.6s ease-in;
	-ms-transition: top 0.6s ease-in;
	-webkit-transition: top 0.6s ease-in;
}

.sc-about-hide {
	display: none;
}

.sc-about-show {
	pointer-events: auto;
	opacity: 1;
}

.sc-about-show .sc-about-box {
	top: 0;
}

@keyframes about-shake {
	0% {
		transform: translate(-3px, 2px);
		-o-transform: translate(-3px, 2px);
		-moz-transform: translate(-3px, 2px);
		-ms-transform: translate(-3px, 2px);
		-webkit-transform: translate(-3px, 2px);
	}
	20% {
		transform: translate(2px, -3px);
		-o-transform: translate(2px, -3px);
		-moz-transform: translate(2px, -3px);
		-ms-transform: translate(2px, -3px);
		-webkit-transform: translate(2px, -3px);
	}
	40% {
		transform: translate(-4px, 2px);
		-o-transform: translate(-4px, 2px);
		-moz-transform: translate(-4px, 2px);
		-ms-transform: translate(-4px, 2px);
		-webkit-transform: translate(-4px, 2px);
	}
	80% {
		transform: translate(2px, -3px);
		-o-transform: translate(2px, -3px);
		-moz-transform: translate(2px, -3px);
		-ms-transform: translate(2px, -3px);
		-webkit-transform: translate(2px, -3px);
	}
	100% {
		transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
	}
}

.sc-about-show .sc-about-shake {
	animation: about-shake 0.2s 2;
	-o-animation: about-shake 0.2s 2;
	-moz-animation: about-shake 0.2s 2;
	-ms-animation: about-shake 0.2s 2;
	-webkit-animation: about-shake 0.2s 2;
}
