.sc-scroll {
	pointer-events: none;

	transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
}

.sc-page {
	position: relative;
	height: 100vh;
	width: 100%;
	pointer-events: auto;
	overflow: hidden;
}

.sc-full-screen {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
}

.sc-vertical-mid-container {
	line-height: 90vh;
}

.sc-headline {
	display: inline-block;

	font-size: 6em;
	line-height: normal;
	width: 90%;
	margin-left: 5%;
	vertical-align: middle;
	
	color: #FFFFFF;
	text-align: center;
}

.sc-cover-start-btn {
	position: fixed;
	display: block;
	bottom: 0;
	font-size: 3em;
	color: #919191;
	cursor: pointer;
	text-align: center;
	font-weight: 100;

	width: 100vw;
	height: 3em;
	line-height: 3em;

	transition: color 0.3s, opacity 0.6s;
	-o-transition: color 0.3s, opacity 0.6s;
	-moz-transition: color 0.3s, opacity 0.6s;
	-ms-transition: color 0.3s, opacity 0.6s;
	-webkit-transition: color 0.3s, opacity 0.6s;
}

.sc-cover-start-btn:hover {
	color: #F9F9F9;
}

.sc-caption {
	display: inline-block;
	color: #545454;
	opacity: 0;

	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.sc-caption-show {
	opacity: 1;
}

.sc-grid-right-1-2 {
	position: absolute;
	display: inline-block;

	right: 0;
	top: 0;

	width: 50%;
	height: 100%;

	line-height: normal;

	padding: 5em 20px 0 0;

	overflow-wrap: normal;
	word-wrap: normal;
}

.sc-grid-left-1-2 {
	position: absolute;
	display: inline-block;

	left: 0;
	top: 0;

	width: 50%;
	height: 100%;

	line-height: normal;

	padding: 5em 0 0 20px;

	overflow-wrap: normal;
	word-wrap: normal;
}

.sc-article-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	opacity: 0;
	padding-top: 5em;
	overflow: hidden;

	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.sc-show {
	opacity: 1;
}

.sc-vertical-mid {
	margin: 5em auto;
	position: absolute;
	width: 90%;
	left: 5%;
	top: 10%;
	bottom: 10%;
}

@media only screen and (min-height: 481px) and (max-width: 480px) {
	.sc-vertical-mid {
		top: 8%;
		bottom: 8%;
	}
}

@media only screen and (max-height: 600px) and (min-width: 800px) {
	.sc-vertical-mid {
		top: 8%;
		bottom: 8%;
	}
}

@media only screen and (max-height: 800px) and (min-width: 1366px) {
	.sc-vertical-mid {
		top: 10%;
		bottom: 10%;
	}
}

@media only screen and (max-height: 320px) {
	.sc-vertical-mid {
		top: 4%;
		bottom: 4%;
	}
}

.sc-article-title {
	position: relative;
	display: inline-block;

	font-size: 3em;
	line-height: normal;
	margin: 0 0 1.4em 0;

	overflow-wrap: normal;
	word-wrap: normal;
}

@media only screen and (max-height: 600px) {
	.sc-article-title {
		margin-bottom: 1.2em;
	}
}

@media only screen and (max-height: 480px) {
	.sc-article-title {
		margin-bottom: 0.7em;
	}
}

.sc-article {
	position: relative;

	width: 100%;
	max-height: 72%;
	margin: 0;

	font-size: 2.4vh;
	line-height: normal;

	overflow: visible;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

@media only screen and (min-width: 600px) {
	.sc-article {
		font-size: 3.2vh;
	}
}

@media only screen and (min-width: 800px) {
	.sc-article {
		font-size: 3.7vh;
	}
}

@media only screen and (min-width: 480px) and (max-height: 400px) {
	.sc-article {
		font-size: 5vh;
	}
}

.sc-skip-btn {
	position: absolute;
	display: block;
	bottom: 2em;
	font-size: 2em;
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #C9C9C9;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.sc-skip-btn:hover {
	color: #7B7B7B;
}

.sc-caption-am-1 {
	opacity: 0;

	transition: all 0.3s 0.2s;
	-o-transition: all 0.3s 0.2s;
	-moz-transition: all 0.3s 0.2s;
	-ms-transition: all 0.3s 0.2s;
	-webkit-transition: all 0.3s 0.2s;
}

.sc-caption-am-2 {
	opacity: 0;

	transition: all 0.3s 0.4s;
	-o-transition: all 0.3s 0.4s;
	-moz-transition: all 0.3s 0.4s;
	-ms-transition: all 0.3s 0.4s;
	-webkit-transition: all 0.3s 0.4s;
}

.sc-caption-am-3 {
	opacity: 0;

	transition: all 0.3s 0.6s;
	-o-transition: all 0.3s 0.6s;
	-moz-transition: all 0.3s 0.6s;
	-ms-transition: all 0.3s 0.6s;
	-webkit-transition: all 0.3s 0.6s;
}

.sc-caption-am-4 {
	opacity: 0;

	transition: all 0.3s 0.8s;
	-o-transition: all 0.3s 0.8s;
	-moz-transition: all 0.3s 0.8s;
	-ms-transition: all 0.3s 0.8s;
	-webkit-transition: all 0.3s 0.8s;
}

.sc-caption-am-5 {
	opacity: 0;

	transition: all 0.3s 1s;
	-o-transition: all 0.3s 1s;
	-moz-transition: all 0.3s 1s;
	-ms-transition: all 0.3s 1s;
	-webkit-transition: all 0.3s 1s;
}

.sc-caption-show .sc-caption-am-1 {
	opacity: 1;
}

.sc-caption-show .sc-caption-am-2 {
	opacity: 1;
}

.sc-caption-show .sc-caption-am-3 {
	opacity: 1;
}

.sc-caption-show .sc-caption-am-4 {
	opacity: 1;
}

.sc-caption-show .sc-caption-am-5 {
	opacity: 1;
}

.sc-caption-show .sc-caption-am-shake {
	animation: shake 0.2s ease-in 0.4s 2;
	-o-animation: shake 0.2s ease-in 0.4s 2;
	-moz-animation: shake 0.2s ease-in 0.4s 2;
	-ms-animation: shake 0.2s ease-in 0.4s 2;
	-webkit-animation: shake 0.2s ease-in 0.4s 2;
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	25% {
		transform: rotate(15deg);
		-o-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
	}
	75% {
		transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
}

.sc-qr-code-image {
	height: 4em;
	width: 4em;
	margin: auto;
	border-radius: 0.2em;
	margin-top: 0.5em;
	box-shadow: 0px 0px 5px #555555;
}

@media only screen and (max-height: 400px) {
	.sc-qr-code-image {
		height: 2.5em;
		width: 2.5em;
	}
}
